@media (max-width: 650px) {
    .pagina{
        background-color: #f4f4f4;
        width: 100%;
    }
    .topo{
        background-color: red;
        width: 100%;
        height: 15%;
        position: fixed;
        top: 0px;
        left: 0px;
    }
    .topo > h1{
        margin-left: 20px;
        font-size: 40px;
        color:white ;
    }   
    .topo > p{
        margin-left: 20px;
        font-size: 20px;
        color:white ;
    }
    button  {
        border: none;
    }
    button.escolhido{
        border: 4px solid #02b002;
    }
    .texto1 > h1{
        font-size: 25px;
        margin-top: 80px;
        margin-bottom: 10px;
        margin-left: 15px;
    }
    .comida{
        background-color: #f4f4f4;
        display: flex;
        width: 100%;
    }
    .prato1{
        background-color: white;
        font-size: 15px;
        width: 25%;
        justify-items: center;
        align-items: center;
        box-shadow: 2px 2px 2px 1px #f4f4f4;
        margin-left: 20px;
        border-radius: 10px;
        border: 4px solid #fdfdfd;
    }
    .prato1 > h1{
        color: #080808;
        font-size: 15px;
    }
    .prato1 > p{
        color: #A6A6A6;
        font-size: 15px;
    }
    .prato1 > img{
        height: 100px;
        width: 100%;
    }
    .prato2 {
        background-color: white;
        font-size: 15px;
        width: 25%;
        justify-items: center;
        align-items: center;
        box-shadow: 2px 2px 2px 1px #f4f4f4;
        margin-left: 20px;
        border-radius: 10px;
        border: 4px solid #fdfdfd;
    }
    .prato2 > p{
        color: #A6A6A6;
    }
    .prato2 > img{
        height: 100px;
        width: 100%;
    }
    .prato3 {
        background-color: white;
        font-size: 15px;
        width: 25%;
        justify-items: center;
        align-items: center;
        box-shadow: 1px 1px 1px 1px #f4f4f4;
        margin-left: 20px;
        border-radius: 10px;
        border: 4px solid #fdfdfd;   
    }
    .prato3 > p{
        color: #A6A6A6;
    }
    .prato3 > img{
        height: 100px;
        width: 100%;
    }
    .texto2 > h1{
        font-size: 25px;
        margin-top: 25px;
        margin-bottom: 10px;
        margin-left: 15px;
    }
    .bebida{
        background-color: #f4f4f4;
        display: flex;
        width: 100%;
    }
    .bebida-coca {
        background-color: white;
        font-size: 15px;
        width: 25%;
        justify-items: center;
        align-items: center;
        box-shadow: 1px 1px 1px 1px #f4f4f4;
        margin-left: 20px;
        border-radius: 10px;
        border: 4px solid #fdfdfd;
    }
    .bebida-coca > p{
        color: #A6A6A6;
    }
    .bebida-coca > img{
        height: 100px;
        width: 100%;
    }
    .bebida-fanta {
        background-color: white;
        font-size: 15px;
        width: 25%;
        justify-items: center;
        align-items: center;
        box-shadow: 1px 1px 1px 1px #f4f4f4;
        margin-left: 20px;
        border-radius: 10px;
        border: 4px solid #fdfdfd;
    }
    .bebida-fanta > p{
        color: #A6A6A6;
    }
    .bebida-fanta > img{
        height: 100px;
        width: 100%;
    }
    .bebida-suco {
        background-color: white;
        font-size: 15px;
        width: 25%;
        justify-items: center;
        align-items: center;
        box-shadow: 1px 1px 1px 1px #f4f4f4; 
        margin-left: 20px;
        border-radius: 10px;
        border: 4px solid #fdfdfd;
    }
    .bebida-suco > p{
        color: #A6A6A6;
    }
    .bebida-suco > img{
        height: 100px;
        width: 100%;
    }
    .texto3 > h1{
        font-size: 25px;
        margin-top: 25px;
        margin-bottom: 10px;
        margin-left: 15px;
    }
    .sobremesa{
        background-color: #f4f4f4;
        display: flex;
        width: 100%;
        margin-bottom: 50px;
    }
    .sobremesa-pudim {
        background-color: white;
        font-size: 15px;
        width: 25%;
        justify-items: center;
        align-items: center;
        box-shadow: 1px 1px 1px 1px #f4f4f4;
        margin-left: 20px;
        border-radius: 10px;
        border: 4px solid #fdfdfd;
    }
    .sobremesa-pudim > p{
        color: #A6A6A6;
    }
    .sobremesa-pudim > img{
        height: 100px;
        width: 100%;
    }
    .sobremesa-brownie {
        background-color: white;
        font-size: 15px;
        width: 25%;
        justify-items: center;
        align-items: center;
        box-shadow: 1px 1px 1px 1px #f4f4f4;
        margin-left: 20px;
        border-radius: 10px;
        border: 4px solid #fdfdfd;
    }
    .sobremesa-brownie > p{
        color: #A6A6A6;
    }
    .sobremesa-brownie > img{
        height: 100px;
        width: 100%;
    }
    .sobremesa-mouse {
        background-color: white;
        font-size: 15px;
        width: 25%;
        justify-items: center;
        align-items: center;
        box-shadow: 1px 1px 1px 1px #f4f4f4;
        margin-left: 20px;
        border-radius: 10px;
        border: 4px solid #fdfdfd;
    }
    .sobremesa-mouse > p{
        color: #A6A6A6;
    }
    .sobremesa-mouse > img{
        height: 100px;
        width: 100%;
    }
    .menu{
        background-color: #b0afaf;
        color: #ffffff;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        height: 40px;
        width: 100%;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0px;
        
    }
    .pedido{
        background-color: #008000;
        color: #f4f4f4;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 200px;
        left: 200px;
        width: 40%;
    }
    .pedido > h1{
        margin-bottom: 20px;
        margin-left: 20px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
    .pedido > p{
        margin-bottom: 20px;
        margin-left: 20px;
        font-size: 20px;
    }
    .esconder{
        display: none;
    }

    .fecharPedido{
        background-color: #066602;
        color: #ffffff;
        font-size: 17px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        height: 40px;
        width: 100%;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0px;
        
    }

    .confirmar{
        margin-left: 20px;
        margin-bottom: 20px;
    }

    button.cancelar{
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .pagina-cor{
        background-color: #EEEEEE;
    }
    
}